.blog-post {
    margin-bottom: 2rem;
}

.blog-post img {
    max-width: 10%;
    height: auto;
}

.meta {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: gray;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
}